deb http://mirrors.163.com/ubuntu/ {{ ansible_distribution_release }} main restricted universe multiverse
deb http://mirrors.163.com/ubuntu/ {{ ansible_distribution_release }}-security main restricted universe multiverse
deb http://mirrors.163.com/ubuntu/ {{ ansible_distribution_release }}-updates main restricted universe multiverse
deb http://mirrors.163.com/ubuntu/ {{ ansible_distribution_release }}-proposed main restricted universe multiverse
deb http://mirrors.163.com/ubuntu/ {{ ansible_distribution_release }}-backports main restricted universe multiverse
deb-src http://mirrors.163.com/ubuntu/ {{ ansible_distribution_release }} main restricted universe multiverse
deb-src http://mirrors.163.com/ubuntu/ {{ ansible_distribution_release }}-security main restricted universe multiverse
deb-src http://mirrors.163.com/ubuntu/ {{ ansible_distribution_release }}-updates main restricted universe multiverse
deb-src http://mirrors.163.com/ubuntu/ {{ ansible_distribution_release }}-proposed main restricted universe multiverse
deb-src http://mirrors.163.com/ubuntu/ {{ ansible_distribution_release }}-backports main restricted universe multiverse
